@import "./reset.scss";

body {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.09rem;
}

.loader {
  margin-top: 12rem;
  border: 16px solid white;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border-top-color: aqua;
  border-bottom-color: aquamarine;
  animation: chargement 4s linear infinite;
}

@keyframes chargement {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
  }
  50% {
    transform: rotate(360deg) scale(1.15);
  }
  75% {
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

.app {
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url("../static/globes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  color: white;
  form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
    width: 25rem;
    .send {
      font-family: "Lato", sans-serif;
      height: 3rem;
      font-size: 1rem;
    }
  }
  .input {
    height: 2rem;
    width: 15rem;
    background: transparent;
    border: 0;
    border-bottom: 1.5px solid white;
    outline: none;
    color: white;
    font-size: 1.3rem;
    font-family: "Lato", sans-serif;
    &::placeholder {
      color: white;
    }
  }
  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.472);
    z-index: -1;
  }
}

.container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 2rem;
  padding: 2rem;
  background: black;
  img {
    width: 10rem;
  }
}
